{{! A row with the enabled columns }}
<tr class='acronym-row'>
  {{#each @columns as |column|}}
    {{#if column.enabled}}
      {{#if (eq column.property 'id')}}
        <th scope='row'>
          <LinkTo @route='acronym' @model={{@acronym}} target='_blank'>
            {{get @acronym column.property}}
          </LinkTo>
        </th>
      {{else}}
        <td>
          {{get @acronym column.property}}
        </td>
      {{/if}}
    {{/if}}
  {{/each}}
</tr>