<nav class='navbar navbar-expand-lg'>
  <div class='container-fluid'>
    {{! Link to Index route }}
    <LinkTo class='navbar-brand link-primary' @route='index'><b
      >Index</b></LinkTo>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        {{! Link to Create a new acronym }}
        <li class='nav-item' style='margin: 5px;'>
          <LinkTo
            @route='authenticated.create'
            role='button'
            class='btn btn-outline-success'
            aria-current='page'
            target='_blank'
          ><b>Create New Acronym</b></LinkTo>
        </li>
        {{! Link to the Reports route }}
        <li class='nav-item' style='margin: 5px;'>
          <LinkTo
            @route='reports'
            role='button'
            class='btn btn-outline-danger'
            aria-current='page'
            target='_blank'
          ><b>Reports</b></LinkTo>
        </li>
        {{! Link to the Upload route }}
        <li class='nav-item' style='margin: 5px;'>
          <LinkTo
            @route='authenticated.upload'
            role='button'
            class='btn btn-outline-info'
            aria-current='page'
            target='_blank'
          ><b>Upload</b></LinkTo>
        </li>
      </ul>
      <div class='d-flex'>
        {{! Show login and register button if not authenticated }}
        {{#if this.session.isAuthenticated}}
          <button
            class='btn btn-danger'
            type='button'
            {{on 'click' this.logout}}
          ><b>Logout</b></button>
          {{! Else show the logout button }}
        {{else}}
          <LinkTo
            @route='register'
            role='button'
            class='btn btn-success'
            aria-current='page'
            style='margin-right: 10px;'
          ><b>Register</b></LinkTo>
          <LinkTo
            @route='login'
            role='button'
            class='btn btn-success'
            aria-current='page'
          ><b>Login</b></LinkTo>
        {{/if}}
      </div>
    </div>
  </div>
</nav>