{{page-title 'Editing an acronym'}}
<div class='container'>
  <h1>Editing</h1>
  <AcronymForm @acronym={{@model}} @readOnly={{false}} />
  <LinkTo
    @route='acronym'
    @model={{@model}}
    class='btn btn-outline-danger p10-margin-top'
    role='button'
  >Cancel</LinkTo>
</div>